body{
    margin: 0%;
	 background-image: url(assets/images/light-image.jpg);
	   background-size: cover;
}
.heading{
    text-align: center;
    font-family: Gabriola,sans-serif;
    font-size: 4rem;
    margin-top: 0%;
    text-decoration: underline;
    color: #080202;
}
.botton-div{
	text-align:center;
	margin-top:15%;
	
}
input{
	width:150px;
	background-color:gray;
	margin:0px 40px;
	height:50px;
	border-radius:20px;
	font-family:Ubuntu;
	font-size:20px;
}
input:hover{
	color:white;
	background-color:black;
	transition:.4s;
}